{% extends 'default.html' %}
{% load static %}

{% block idpage %}about{% endblock %}

{% block title %}
О нас
{% endblock %}

{% block header %}
О нас
{% endblock %}

{% block count %}
<br>
{% endblock %}


{% block content %}
<p class="fs-5 mb-4">Это информация о нас <p>наша команда постоянно работает над содержанием сайта. Мы не хотим, чтобы вы тратили время на чтение устаревших новостей, поэтому мы стараемся.
И это не просто слова, мы делаем все, чтобы вам было удобно пользоваться сайтом.
На данный момент, у нас есть новости, статьи, а также множество других интересных материалов.<p><a class="content-link" href="/news/">Новости</a>.</p>

{% endblock %}
